<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="keypad">
				{{#each numberedKeys}}
				<div data-num="{{this}}" {{action 'pressedKey' this}}>
					<span>{{this}}</span>
				</div>
				{{/each}}
			</div>
			{{#if currentSequence}}
				<div class="channel-entry row">
					<div class="col-xs-7 col-xs-offset-1">
						<span class="current-sequence btn btn-lg btn-primary btn-block" {{action 'changeChannel'}}>
							Go to {{currentSequence}}
						</span>
					</div>
					<div class="col-xs-3">
						<span class="clear-sequence btn btn-danger btn-block btn-lg" {{action 'clearSequence'}}>&cross;</span>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</div>